body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

main {
  margin-top: 15%;
  text-align: center;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

nav > ul > li:not(:last-child) {
  margin-right: 2em;
}
