diktbase {
    display: flex;
    flex-direction: column;
    background-color: #232121;
    align-content: center;
}

dikt {
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    border: 2px solid white;
    margin: 1em auto 0 auto;
    padding: 10px;
    min-width: 20vw;
    color: white;
}

diktID {
    font-weight: bold;
}

tekst {
    margin-top: 5px;
}

epostadresse {
    margin-top: 5px;
}


