body {
    background-color: #6b6f74;
    color: white;
}

h1 {
    color: black;
    text-align: center;
    font-size: 3vw;
}

th {
    text-align: center;
    font-size: 2vw;
    padding: 0.5vw;
}

td {
    font-size: 1.5vw;
    padding: 0.5vw;
}




